<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="shortcut icon" href="/img/qcfinance-favicon.png" type="image/png">
    <script src="/js/script.js" defer></script>
    <script src="/js/expenses.js" defer></script>
</head>
<body>
    <header>
        <a href="/"><img src="/img/qcfinance-logo.png" alt="Queen Cakes Finance"></a>
    </header>

    <div class="select-container">
        <div class="select-wrapper">
            <form id="date-form" action="/expenses" method="GET">
                <select name="date" id="select-date" class="select-box">
                    <% for( let i = 0; i < dateList.length; i++ ) { %>
                        <option value="<%= dateList[i].year + "-" + dateList[i].monthNum %>"
                            <% if (dateList[i].monthName == monthName) { %>
                                selected
                            <% } %>>
                            <%= dateList[i].year + " " + dateList[i].monthName %>
                        </option>
                    <% } %>
                </select>
            </form>
            <span class="select-arrow"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg></span>
        </div>
    </div>
    
    <div class="table-container">
        <table class="records-table">
            <thead>
                <tr class="override-tr-bg">
                    <th>No.</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="hide-mobile">QTY</th>
                    <th class="hide-mobile">Rate</th>
                    <th class="hide-mobile">Unit</th>
                    <th class="hide-mobile">GST</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% expensesList.forEach((expenseItem, index) => { %>
                    <tr data-id="<%= expenseItem._id.toString() %>">
                        <td><%= index + 1 %>.</td>
                        <td><%= expenseItem.date.getDate() %><sup><%= getDateSuffix(expenseItem.date) %></sup></td>
                        <td class="col-left"><%= expenseItem.description %></td>
                        <td class="hide-mobile"><%= expenseItem.quantity %></td>
                        <td class="hide-mobile"><%= expenseItem.rate %></td>
                        <td class="hide-mobile"><%= expenseItem.unit %></td>
                        <td class="hide-mobile"><%= expenseItem.gst.toFixed(2) %></td>
                        <% if (Number.isInteger(expenseItem.total) === true) { %>
                            <td><%= expenseItem.total %></td>
                        <% } else { %>      
                            <td><%= expenseItem.total.toFixed(2) %></td>     
                        <% } %>
                    </tr>
                <% }) %>
                <tr id="total-row" class="override-tr-border">
                    <td colspan="2">TOTAL</td>
                    <td></td>
                    <td class="hide-mobile"></td>
                    <td class="hide-mobile"></td>
                    <td class="hide-mobile"></td>
                    <td colspan="2"><%= totalExpenses.toFixed(2).toLocaleString() %></td>
                </tr>   
            </tbody>
        </table>
    </div>

    <div class="btn-container">
        <button id="open-expense-form-btn" class="open-form-btn"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFFFFF"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></button>
    </div>
    
    <div>
        <dialog id="create-expense-form" class="create-form">
            <form id="new-expense-form">
                <h3>Add Sale</h3>
                <label for="newExpenseDate">Date</label>
                <input type="date" name="newExpenseDate" id="newExpenseDate" required>

                <label for="newExpenseDescription">Description</label>
                <input type="text" name="newExpenseDescription" id="newExpenseDescription" required>

                <label for="newExpenseQTY">Quantity</label>
                <input type="number" name="newExpenseQTY" id="newExpenseQTY" value="1" required>

                <label for="newExpenseRate">Rate</label>
                <input type="number" name="newExpenseRate" id="newExpenseRate" required>

                <label for="newExpenseUnit">Unit</label>
                <input type="text" name="newExpenseUnit" id="newExpenseUnit" required>

                <div class="form-btn-container">
                    <button type="button" id="cancel-expense-form-btn" class="cancel-form-btn">Cancel</button>
                    <button type="submit" id="submit-expense-form-btn" class="submit-form-btn">Add</button>
                </div>
            </form>
        </dialog>
    </div>
    
    <div>
        <dialog id="delete-expense" class="delete-form">
            <h3>Confirm</h3>
            <div class="form-btn-container">
                <button id="cancel-delete-expense-btn" class="cancel-delete-btn">Cancel</button>
                <button id="delete-expense-btn" class="delete-btn">Delete</button>
            </div>
        </dialog>
    </div>
</body>
</html>