<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Cakes</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="shortcut icon" href="/img/qcfinance-favicon.jpg">
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
</head>
<body>
    <header>
        <img src="/img/qcfinance-logo.jpg" alt="Queen Cakes Finance">
    </header>

    <div class="index-wrapper">
        <div class="flex-grow">
            <div class="btn-container">
                <a id="sales-btn" href="/sales">
                    Sales
                </a>
                <a id="expenses-btn" href="/expenses">
                    Expenses
                </a>

                <!-- <button id="sales-btn" type="button" onclick="location.href='/sales'">
                    Sales
                </button>
                <button id="expenses-btn" type="button" onclick="location.href='/expenses'">
                    Expenses
                </button> -->
            </div>
            
            <div class="dashboard">
                <h2>January</h2>
                <div>
                    <p>Income</p>
                    <p> <%= totalSales.toLocaleString() %> </p>
                </div>
                <div>
                    <p>Expenses</p>
                    <p> <%= totalExpenses.toLocaleString() %> </p>
                </div>
                <div>
                    <p>Net Profit</p>
                    <p> <%= (totalSales - totalExpenses).toLocaleString() %> </p>
                </div>
            </div>
        </div>

        <div class="flex-grow reverse-order">
            <div class="history">
                <h2>Monthly Profits</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Sales</th>
                            <th>Expenses</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024</td>
                        </tr>

                        <% for( let i = 0; i < historyData.length; i++ ) { %>
                            <% if (historyData[i].year == 2024) { %>
                                <tr>
                                    <td><%= historyData[i].month %></td>
                                    <td><%= historyData[i].sales %></td>
                                    <td>-<%= historyData[i].expenses %></td>
                                    <td><%= historyData[i].profit %></td>
                                </tr>
                            <% } %>
                        <% } %>

                        <tr>
                            <td>2025</td>
                        </tr>

                        <% for( let i = 0; i < historyData.length; i++ ) { %>
                            <% if (historyData[i].year == 2025) { %>
                                <tr>
                                    <td><%= historyData[i].month %></td>
                                    <td><%= historyData[i].sales %></td>
                                    <td>-<%= historyData[i].expenses %></td>
                                    <td><%= historyData[i].profit %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="btn-container">
                <!-- <button class="download-btn" id="download-page-btn" type="button" onclick="location.href='/download'">
                    Download Data
                </button> -->

                <a class="download-btn" href="/download">
                    Download Data
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>